<div>
  <img src="../../assets/img/Jeff.jpg" alt="" class="img2" id="i">
  <img src="../../assets/img/satya.jpg" alt="" class="img1" id="i">
  <img src="../../assets/img/Marissa.jpg" alt="" class="img3" id="i">
  <img src="../../assets/img/Mark.jpg" alt="" class="img4" id="i">
  <img src="../../assets/img/sundhar.jpg" alt="" class="img5" id="i">
  <img src="../../assets/img/Tim.jpg" alt="" class="img6" id="i">
</div>
<br>
<footer>Made with <img src="../../assets/img/prograd-heart.svg"> by Prograd's</footer>
